.acenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.containertitle {
	color: red !important;
}

.containertitle {

}

.containertitlebox {
text-align: right;
}

.titlebar {
width: 100%;
display: block;
height: 30px;
box-sizing: border-box;

}

.titlebarbox {
width: 170px;
text-align: center;
padding: 4px 0px;
font-weight: bold;
border: 1.4px solid black;
float: right;
position: relative;
top: -1.5px;
left: 1px
}
.titleboxchicken {
background-color: pink;
color: black;
}

.titlebarbeef {
background-color: #CC0000;
color: white;
}
.titlebarsushi {
background-color: #FFB551;
color: black;
}

.textcontainer {
display: block;
position: relative;
padding: 8px;
font-size: 13px;
color: #111111;
}

.greybox {
  border: 2px solid black;
  background-color: #666666;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  font-family: Helvetica;
  color: white;
  overflow: visible;
  width: 100%;
}

.col-lg-4 {
padding: 0px 10px; 

}


.col-md-6 {
padding: 0px 10px; 
}

.col-sm-12 {
padding: 0px 10px; 
}


